html
	head
		include includes/styles.pug
	body
		div
			h2 testing
		div.second-div
			p#paragraph(style="color: blue;")
				| ceci est un paragraphe
				|
				.
					tous ça est aussin un paragraph
			// commentaie 
			//- hide comment
			

